svg {
  overflow: hidden;
}

#description {
  padding: 20px;
}

#content {
  font-family: "Noto Sans";
}

#myList {
  margin: 20px;
  height: 400px;
  overflow: auto;
}

.node rect {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #fff;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #333;
}

.draw {
  margin: 30px 20px;
  text-align: center;
  font-family: "Noto Sans";
}
