svg {
  overflow: hidden;
}

#description {
  padding: 20px;
}

#content {
  font-family: "Noto Sans";
}

#colorPattern {
  border: 2px solid rgb(198, 197, 197);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  display: flex;
}

#colors {
  width: 15%;
}

#colorMeaning {
  width: 85%;
  font-size: 15px;
}

#myList {
  margin: 20px;
  height: 400px;
  overflow: auto;
}

.node rect {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #fff;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #333;
}

.draw {
  margin: 30px 20px;
  text-align: center;
  font-family: "Noto Sans";
}
