<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index Demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="container-fluid">
      <!--Navigator bar start-->
      <div class="row" style="font-family: 'Noto Sans'">
        <nav class="navbar navbar-expand-lg navbar-dark bg-purple">
          <div class="container-fluid">
            <div style="margin: 10px 20px 10px 10px">
              <img
                src="../static/img/icon.png"
                alt="cfg"
                width="30"
                height="28"
              />
            </div>
            <a class="navbar-brand" style="font-size: x-large">CFG</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="cfg.html">Contact us</a>
                </li>
              </ul>
              <div style="margin: 10px">
                <a href="https://github.com/eeechun/cfg"
                  ><img
                    src="../static/img/github.png"
                    alt="github"
                    width="30"
                    height="28"
                /></a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!--Navigator bar end-->

      <!--Content area start-->
      <div class="row justify-content-center" style="padding-top: 40px">
        <div class="col-2"></div>
        <div class="col-8" id="content">
          <!-- Description start -->
          <h1 style="font-weight: bold">Lorem Ipsum</h1>

          <p>
            <br />
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when
            an unknown printer took a galley of type and scrambled it to make a
            type specimen book.
          </p>
          <!-- Description end -->

          <!-- upload file button start -->
          <h5><br />You can upload your file</h5>
          <div class="row">
            <div class="col-10">
              <input class="form-control" type="file" id="fileInput" />
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-purple"
                onclick="uploadFile()"
              >
                upload
              </button>
            </div>
          </div>

          <!-- upload file button end -->

          <!-- select file list start -->
          <h5><br />...or select from our list</h5>
          <div class="list-group" id="myList"></div>

          <!-- select file list end -->
        </div>
        <div class="col-2"></div>
      </div>
      <!--Content area end-->
    </div>

    <script src="../static/js/index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
